<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styling/application_portal.css">
  </head>

  <body>
    <div class="banner">
        <img class="banner-bg" src="/images/Sydney_Harbour_Bridge_Banner.png">
        <div class="banner-logo"><img src="/images/UNSW_Logo_Square.png"></div>
        <h1>Application Portal</h1>
    </div>
    <div class="content"></div>
    <div class="footer">
        <img src="/images/UNSW_Logo.png">
        <div class="code">
            <h1>Code of Conduct</h1>
            <p>
                We apply ethical principles of research merit and integrity, justice and respect in the conduct of all research and research exports.
            </p>
        </div>
        <div class="contact">
            <p>UNSW (Kensington)</p>
            <p>High St Kensington, NSW 2053</p>
            <p>Tel: +61 2 9385 1000</p>
        </div>
    </div>
  </body>
</html>
