<!DOCTYPE html>
<html lang="en">
  <head>
    <title>login_template</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styling/login.css">
  </head>

  <body>
    <div class="background">
        <div class="login">
            <div class="head">
                <img src="/images/UNSW_Logo_Square.png">
                <h1>Student Login</h1>
            </div>
            <div class="login_form">
                <form action="" method="post">
                    <h2>email</h2>
                    <input type="email" name="email" id="" />
                    <br>
                    <h2>password</h2>
                    <input type="password" name="email" id="" />
                    <br>
                    <button type="submit">Login</button>
                    <a href="#">Forgot password?</a>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>